
input {
    caret-color: red;
}

body {
    background-image: url("../img/pexels-mikey-dabro-933776.jpg");
    background-repeat:no-repeat;
    background-size: contain;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: poppins;
}

.container {
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: transparent;
    box-shadow: 14px 14px 20px rgba(134, 90, 90, 0.65), -14px -14px 20px white;
}

.brand-logo {
    background-image: url("../img/433459515_933781804774299_5597406107925598688_n.jpg");
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
.brand-logo>img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
}


label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 4px;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

input::placeholder {
    color: rgba(128, 128, 128, 0.59);
}

input {
    background: #ecf0f3;
    padding: 10px;
    margin-bottom: 15px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}

button {
    color: white;
    margin-top: 20px;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #9b1519);;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

button:hover {
    box-shadow: none;
}

/*a {*/
/*    position: absolute;*/
/*    font-size: 15px;*/
/*    bottom: 4px;*/
/*    right: 4px;*/
/*    text-decoration: none;*/
/*    color: rgba(8, 34, 86, 0.74);*/
/*    border-radius: 10px;*/
/*    padding: 2px;*/
/*}*/

h1 {
    position: absolute;
    top: 0;
    left: 0;
}
.check{
    display:inline-flex;
    padding: 0px;
}
.check>input{
    box-shadow: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 150px;

}